<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vending Machine</title>
  <link rel="stylesheet" href="style.css" type="text/css" />
  <meta http-equiv="refresh" content="30" />
</head>
<body>
  <h1>Vending Machine</h1>

  <p>This software controls the Vending Machine.</p>

  <p>It is programmed to continually scan the headlines on the BBC News RSS Feed, looking for terms relating to the recession.</p>

  <p>As soon as a search term appears, then Vending Machine is commanded to release a packet of crisps. Visitors to the exhibition may take these crisps free of charge.</p>

  <h2>BBC News RSS feed recent headlines:</h2>

  <% if @headlines.nil? %>
    <p>No news to display (yet) </p>
  <% else %>
    <ul>
      <% @headlines.each do |h| %>
        <li class="<%= h[:triggered] === true ? 'triggered' : 'normal' %>"><span class="timestamp"><%= h[:timestamp].strftime("%a %e %b %H:%M:%S") + " " + Time.now.zone %></span><a href="<%= h[:url] %>"><%= h[:headline] %></a></li>
      <% end %>
    </ul>
  <% end %>

</body>
</html>
