@font-face {
  font-family: 'lucida_consoleregular';
  src: url('lucon-webfont.eot');
  src: url('lucon-webfont.eot?#iefix') format('embedded-opentype'),
  url('lucon-webfont.woff2') format('woff2'),
  url('lucon-webfont.woff') format('woff'),
  url('lucon-webfont.ttf') format('truetype'),
  url('lucon-webfont.svg#lucida_consoleregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'lucida_consoleregular';
  color: #111;
  padding: 50px 65px;
}

h1 {
  font-size: 90px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  margin: 0 0 40px -10px;
  padding: 0;
}

p {
  margin-bottom: 30px;
  font-size: 19px;
}

h2 {
  font-size: 19px;
  margin-top: 60px;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}

.triggered {
  color: #F7931E;
}

li {
  font-size: 19px;
  display: table-row;
}

li .timestamp {
  display: table-cell;
  width: 50%;
  padding-bottom: 4px;
}

li a {
  color: #111;
  text-decoration: none;
  display: table-cell;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 4px;
}

li.triggered a {
  color: #F7931E;
}
